body{
	background-color:#ADFF2F;
}

#resume{
	padding: 0px 20px 20px 20px;
	background-color:#FAFAD2;
	overflow: hidden
}

img{
	float:left;
	display:inline;
	width:30%;
	vertical-align: middle;
	margin:20px 40px 20px 20px;

}
h1{
	
	display:block;
	color:navy;
	
}
h2{
	text-decoration: underline;
}
h3{
	color: #151515;
}

p{
	font-style:italic;
}