img {
    background-color: darkseagreen;
    padding: 3px;
    border: 4px solid black;
    border-radius: 10px;
    opacity: 1;
    
    float: right;
    width: calc(40% - 30px - 46px - 2.5% - 3px - 4px - 8px - 5px);
    height: auto;
    max-width: 57.0263671875vh;
    margin-right: 1%;
    }

/* Works best when window small*/
img:hover {
    width: auto;
    height: 85vh;
    position: absolute;
   
    top: 2.8%;
    right: 1.54%;
    margin-right: 0%;
    margin-top: 0%;
}

h1 {
    text-align: center;
}

h1:active {
    color:red;
}

h2 {
    color: black;
    border-bottom: thick solid black;
}

h3 {
    font-size: 13pt;
}

h1, h2 {
    width: calc(60% + 30px + 46px);
}


h2~ul, p, h3 {
    margin-left: 30px;
}


p, ul {
    max-width: 60%;
}

li {
    margin:1px;
    margin-right: 0px;
    padding-right: 1px;
}

li:hover {
    background-color:darkgray;
    border: solid black 1px;
    margin: .2px;
    margin-right:0px;
    padding-right: .2px;
}


h3 ~ p {
    color: dimgray;
    padding-left: 10px;
}